<a href="https://colab.research.google.com/github/AKASHPATI007/w3school-Python/blob/main/w3school_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**LIST**

In [ ]:
# 1. Write a Python program to sum all the items in a list.

lst = [3,2,4,5,6,7]
def sum(lst):
  sum1 = 0
  for i in lst:
    sum1 += i
  return sum1

print(lst)
print(sum(lst))

[3, 2, 4, 5, 6, 7]
27

In [ ]:
# 2. Write a Python program to multiply all the items in a list.

lst = [2,4,5,6,6]
def mult(lst):
  mult1 = 1
  for i in lst:
    mult1 *= i
  return mult1

print(lst)
print(mult(lst))

[2, 4, 5, 6, 6]
1440

In [ ]:

# Write a Python program to get the largest number from a list.

lst = [4,5,7,34,3,2,5,7]
#1st method
print(max(lst))

#2nd method
print(sorted(lst)[-1])

#3rd method
temp = lst[0]
for i in lst:
  if i > temp:
   temp = i
print(temp)

34
34
34

In [ ]:
# Write a Python program to get the smallest number from a list.

lst = [2,3,4,5,6,7,5,4,4]
print(min(lst))
print(sorted(lst)[0])

#another method
temp = lst[0]
for i in lst:
  if i<temp:
    temp=i
print(temp)

2
2
2

In [ ]:
#Write a Python program to count the number of strings from a given list of strings.
#The string length is 2 or more and the first and last characters are the same.

lst = ['abc', 'xyz', 'aba', '1221']

temp = 0
for i in lst:
  if (len(i)>1 and (i[0]==i[-1])):
    temp += 1


print(temp)

2

In [ ]:
# Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

lst = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

def return_last_ele(tuple):
  return tuple[-1]

lst2 = sorted(lst , key = return_last_ele )
print(lst2)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
# Write a Python program to remove duplicates from a list.

a = [10,20,30,20,10,50,60,40,80,50,40]
print(list(set(a)))

# 2nd method

def remove_dup(a):
  no_dup = []
  for i in a:
    if i not in no_dup:
      no_dup.append(i)
  return no_dup

print(remove_dup(a))

[40, 10, 80, 50, 20, 60, 30]
[10, 20, 30, 50, 60, 40, 80]

In [ ]:
# Write a Python program to find the list of words that are longer than n from a given list of words.

string = 'The quick brown fox jumps over the lazy dog'
n= 3
list = []

for string in string.split():
  if len(string)> n:
    list.append(string)
list

['quick', 'brown', 'jumps', 'over', 'lazy']

In [ ]:
# Write a Python function that takes two lists and returns True if they have at least one common member.

def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

In [ ]:
# Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
color

['Green', 'White', 'Black']

In [ ]:
# Write a Python program to generate a 3*4*6 3D array whose each element is *.

array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [ ]:
# Write a Python program to print the numbers of a specified list after removing even numbers from it.

lst = [2,3,4,567,8,6,54,3,2,4,54,5,7]
lst1=[]
for i in lst:
  if i%2!=0:
    lst1.append(i)

print(lst1)

# 2nd method
lst = [2,3,4,567,8,6,54,3,2,4,54,5,7]
print([x for x in lst if x%2!=0])

[3, 567, 3, 5, 7]
[3, 567, 3, 5, 7]

In [ ]:
# Write a Python program to shuffle and print a specified list.

from random import shuffle
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
print(color)

['Pink', 'White', 'Green', 'Yellow', 'Black', 'Red']

In [ ]:
# Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.

def test(nums):
    return all(is_prime(i) for i in nums)
def is_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True

print(test([0, 3, 4, 7, 9]))
print(test([3, 5, 7, 13]))
print(test([1, 5, 3]))

False
True
False

In [ ]:
# Write a Python program to calculate the difference between the two lists.
lst1 = [1,8,9,4,5]
lst2= [4,3,1,2,4]

diff = list(set(lst1)-set(lst2))
diff

[8, 9, 5]

In [ ]:
# Write a Python program to access the index of a list.

nums = [5, 15, 35, 8, 98]
for index, val in enumerate(nums):
    print(index, val)

0 5
1 15
2 35
3 8
4 98

In [ ]:
# Write a Python program to convert a list of characters into a string.
s = ['a', 'b', 'c', 'd']
str1 = ''.join(s)
print(str1)

abcd

In [ ]:
# Write a Python program to find the index of an item in a specified list.
num =[10, 30, 4, -6]
print(num.index(30))

1

In [ ]:
# Write a Python program to flatten a shallow list.
import itertools
original_list = [[2,4,3],[1,5,6], [9], [7,9,0]]
new_merged_list = list(itertools.chain(*original_list))
print(new_merged_list)

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

In [ ]:
# Write a Python program to append a list to the second list.
lst1 = [1, 2, 3, 0]
lst2 = ['Red', 'Green', 'Black']

for i in lst2:
  lst1.append(i)
print(lst1)

# 2nd method
lst1 = [1, 2, 3, 0]
lst2 = ['Red', 'Green', 'Black']
final_list = lst1 + lst2
print(final_list)

[1, 2, 3, 0, 'Red', 'Green', 'Black']
[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [ ]:
# Write a Python program to select an item randomly from a list.

from random import choice
def random_element(lst):
  return choice(lst)
print(random_element([2, 3, 4, 7, 9, 11, 15]))

2

In [ ]:
# Write a Python program to check whether two lists are circularly identical.

list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]

print('Compare list1 and list2')
print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
print('Compare list1 and list3')
print(' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

Compare list1 and list2
True
Compare list1 and list3
False

In [ ]:
# Write a Python program to find the second smallest number in a list.

lst = [2,9,4,5,6,8]
print(sorted(lst)[1])

# method2

min1 = min(lst)
lst.remove(min1)
print(min(lst))

4
4

In [ ]:
# Write a Python program to get the frequency of elements in a list.

import collections
my_list = [10,10,10,10,20,20,20,20,40,40,50,50,30]
ctr = collections.Counter(my_list)
print(ctr)
print('------------------------------------------')
# 2nd method
count = {}
for i in my_list:
  if i in count:
    count[i] += 1
  else:
    count[i] = 1

print(count)

Counter({10: 4, 20: 4, 40: 2, 50: 2, 30: 1})
------------------------------------------
{10: 4, 20: 4, 40: 2, 50: 2, 30: 1}

In [ ]:
# Write a Python program to change the position of every n-th value to the (n+1)th in a list.

lst =  [0,1,2,3,4,5]
for i in range(0,len(lst),2):
  lst[i],lst[i+1] = lst[i+1],lst[i]
lst

[1, 0, 3, 2, 5, 4]

In [ ]:
# Write a Python program to convert a list of multiple integers into a single integer.

lst = [12,34,56]
single = int(''.join(map(str,lst)))
single

123456

In [ ]:
# Write a Python program to split a list based on the first character of a word.

from itertools import groupby
from operator import itemgetter

word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

In [ ]:
# Write a Python program to convert a pair of values into a sorted unique array.
import itertools
L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4),(7, 8), (9, 10)]
print("Original List: ", L)
print('sorted unique data:', sorted(set(list(itertools.chain(*L)))))

# 2nd method

print("Sorted Unique Data:",sorted(set().union(*L)))

Original List:  [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
sorted unique data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sorted Unique Data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Write a Python program to select the odd items from a list.

x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x[::2])

In [ ]:
# Write a Python program to insert an element before each element of a list.

color = ['Red', 'Green', 'Black']
print("Original List: ",color)
color = [v for i in color for v in ('c', i)]
print("Original List: ",color)

Original List:  ['Red', 'Green', 'Black']
Original List:  ['c', 'Red', 'c', 'Green', 'c', 'Black']

In [ ]:
# Write a Python program to convert a list to a list of dictionaries.

color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
d = dict(zip(color_name,color_code))
d

{'Black': '#000000',
 'Red': '#FF0000',
 'Maroon': '#800000',
 'Yellow': '#FFFF00'}

In [9]:
# Write a Python program to split a list every Nth element.

c = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n=3
for i in range(0,n):
  print(c[i::n])

['a', 'd', 'g', 'j', 'm']
['b', 'e', 'h', 'k', 'n']
['c', 'f', 'i', 'l']

In [12]:
# Write a Python program to compute the difference between two lists.

from collections import Counter
color1 = ["red", "orange", "green", "blue", "white"]
color2 = ["black", "yellow", "green", "blue"]
counter1 = Counter(color1)
counter2 = Counter(color2)
print("Color1-Color2: ",list(counter1 - counter2))
print("Color2-Color1: ",list(counter2 - counter1))

# Method2:-
color1 = ["red", "orange", "green", "blue", "white"]
color2 = ["black", "yellow", "green", "blue"]
print((list(set(color1)-set(color2))))

Color1-Color2:  ['red', 'orange', 'white']
Color2-Color1:  ['black', 'yellow']
['orange', 'white', 'red']

In [13]:
# Write a Python program to concatenate elements of a list.

color = ['red', 'green', 'orange']
print('-'.join(color))
print(''.join(color))

red-green-orange
redgreenorange

In [15]:
# Write a Python program to remove key-value pairs from a list of dictionaries.

original_list = [{'key1':'value1', 'key2':'value2'}, {'key1':'value3', 'key2':'value4'}]
print("Original List: ")
print(original_list)
new_list = [{k: v for k, v in d.items() if k != 'key1'} for d in original_list]
print(new_list)

Original List:
[{'key1': 'value1', 'key2': 'value2'}, {'key1': 'value3', 'key2': 'value4'}]
[{'key2': 'value2'}, {'key2': 'value4'}]

In [18]:
# Write a Python program to convert a string to a list.

import ast
color ="['Red', 'Green', 'White']"
print(ast.literal_eval(color))

['Red', 'Green', 'White']

In [29]:
# Write a Python program to replace the last element in a list with another list.

lst1= [1, 3, 5, 7, 9, 10]
lst2= [2, 4, 6, 8]
lst1[-1:] = lst2
print(lst1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]